:root {
  --color-back-background: #0b1220;
  --color-main-background: #101a2f;

  --color-text: #97f9cc;
  --color-text: #cde7dd;

  --color-h1: #0d98ba;
  --color-h2: #34d399;
  --color-h3: #4ac7c7;

  --color-border-color: #24385f;

  --color-accent: #f97316;

  /* post */
  --color-post-background: #142040;
  --color-post-accent: #90b4ff;

  --color-post-hover: #c3d4ff;
  /* --color-postLink: #cb2c66; */

  --color-code: #f1f5f9;
}
